* {
  padding: 0;
  margin: 0;
}
/* body {
  height: 100vh;
  background-color: #9f1239;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  font-family: "poppins";
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  padding: 3rem;
  width: 40%;
  height: 25%;
  background-color: white;
  color: #9f1239;
}
#qoute {
  font-size: 1.7rem;
  text-align: left;
}
#name {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: right;
}
#button {
  margin-top: 1rem;
  color: white;
  background-color: #9f1239;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  float: right;
  cursor: pointer;
}
.p {
  height: 50%;
}
.n {
  height: auto;
}
.b {
  height: auto;
} */
/* @media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
  }
  .main {
    background-color: #9f1239;
    padding: 20px;
    font-size: 28px;
    color: white;
    height: auto;
    width: 70%;
  }
  #qoute {
    font-size: 28px;
  }
  #name {
    font-size: 20;
    height: relative;
    margin-top: 10px;
  }
  #button {
    width: 100px;
    height: relative;
    font-size: 16;
    margin-top: 15px;
  }
} */
